.DS_Store/
node_modules
.env

# Build and release Folders

bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other folders/files
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# Should not be excluded. They contain complier settings and other importants
# info for Eclipse / Flash builder